.sound-board {
    .buttons {
        margin-bottom: 20px;

        > div {
            text-align: center;
        }
    }
}

.edit-board,
.add-sounds {
    .add, .move, .trash {
        margin-left: 10px;
        font-size: 24px;
        line-height: 28px;
        cursor: pointer;
    }
}
.edit-board {
    .sortable-chosen {
        border: 1px dashed #DB0000;
    }
    .sortable-ghost {
        background-color: #f8f8ff;
        border: 1px dashed #9CB6C3;
    }
}

.button-sound {
    display: inline-block;
    position: relative;
    top: 0;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    background-color: #0C7CA2;
    cursor: pointer;
    box-shadow: 0 4px 0 darken(#0C7CA2, 11%);
    -webkit-app-region: no-drag;
    margin-bottom: 4px;
    vertical-align: bottom;

    &:hover {
        box-shadow: 0 2px 0 darken(#0C7CA2, 11%);
        top: 2px;
    }

    &.active,
    &:active {
        box-shadow: 0 0 0 darken(#0C7CA2, 11%);
        top: 4px;
    }

    .button-icon {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;

        background-size: 14px 14px;
        background-position: center;
        background-repeat: no-repeat;

        -webkit-mask-size: 14px 14px;
        -webkit-mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-size: 14px 14px;
        mask-position: center;
        mask-repeat: no-repeat;

        &.mask {
            background-color: #ffffff;
        }
    }

    .fas, .far, .fal {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 14px;
        color: #ffffff;
    }
}

.square-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 1vw;
    justify-items: center;
    margin: 5px auto;
    width: 90%;

    .square-item {
        width: calc(100vw / 4);
        height: calc(100vw / 4);

        .button-icon {
            background-size: calc(100vw / 7) calc(100vw / 7);
            -webkit-mask-size: calc(100vw / 7) calc(100vw / 7);
            mask-size: calc(100vw / 7) calc(100vw / 7);
        }

        .fas, .far, .fal {
            font-size: calc(100vw / 7);
        }
    }
}

@include media-breakpoint-up(sm) {
    .square-container {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2vw;

        .square-item {
            width: calc(100vw / 5.2);
            height: calc(100vw / 5.2);

            .button-icon {
                background-size: calc(100vw / 8) calc(100vw / 8);
                -webkit-mask-size: calc(100vw / 8) calc(100vw / 8);
                mask-size: calc(100vw / 8) calc(100vw / 8);
            }

            .fas, .far, .fal {
                font-size: calc(100vw / 8);
            }
        }
    }
}

@include media-breakpoint-up(md) {
    .square-container {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 3vw;

        .square-item {
            width: calc(100vw / 7);
            height: calc(100vw / 7);

            .button-icon {
                background-size: calc(100vw / 9) calc(100vw / 9);
                -webkit-mask-size: calc(100vw / 9) calc(100vw / 9);
                mask-size: calc(100vw / 9) calc(100vw / 9);
            }

            .fas, .far, .fal {
                font-size: calc(100vw / 9);
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .square-container {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 2vw;

        .square-item {
            width: calc(100vw / 8.2);
            height: calc(100vw / 8.2);

            .button-icon {
                background-size: calc(100vw / 12) calc(100vw / 12);
                -webkit-mask-size: calc(100vw / 12) calc(100vw / 12);
                mask-size: calc(100vw / 12) calc(100vw / 12);
            }

            .fas, .far, .fal {
                font-size: calc(100vw / 12);
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .square-container {
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 2vw;

        .square-item {
            width: calc(100vw / 9.4);
            height: calc(100vw / 9.4);

            .button-icon {
                background-size: calc(100vw / 14) calc(100vw / 14);
                -webkit-mask-size: calc(100vw / 14) calc(100vw / 14);
                mask-size: calc(100vw / 14) calc(100vw / 14);
            }

            .fas, .far, .fal {
                font-size: calc(100vw / 14);
            }
        }
    }
}
